@page "/festes/crear"
@inject IRepositori repositori
@inject NavigationManager navigationManager
@inject IMostrarMissatges mostrarMissatges

<h3>Crear Festa</h3>

<FormulariFesta OnValidSubmit="Crear" Festa="Festa" />

@code { 
    private CalendariFestes Festa = new CalendariFestes();

    private async Task Crear()
    {
        var httpResponse = await repositori.Post("api/festes", Festa);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await mostrarMissatges.MostrarMissatgeError(body);
        }
        else
        {
            navigationManager.NavigateTo("/festes");
        }
    } 
}

